#contactos{
    position: relative;
    margin: 0px 30px;
    .opciones-cabecera{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 400px;
        width: 100%;
        #nro-seleccion{        
            border: 1px solid rgba(0,0,0,0.08);
            width: 100px;
            height: 30px;        
            text-align: center;        
            border-radius: 4px;
            background-color: rgba(0,0,0,0.08);
            span{
                font-size: 10px;            
                color: #0683F9;
            }
        }
        #eliminar-contacto:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    #div-contactos{
        height: 400px;
        border: 1px solid $color-scundario;
        overflow: auto;
        #cabecera{
            border-bottom: 1px solid $color-scundario;
            tr > :last-child{
                text-align: center;
            }
        }
        tbody{
            .form-check{            
                display: flex;
                align-items: flex-end;
            }
        }
        .info-contact{
            display: flex;   
            flex-direction: column;
            > :last-child{
                font-size: 14px;
                color: $color-scundario
            }
        }
        .progress-group{
            display: grid;
            grid-template-columns: 30px 1fr;
            font-size: 12px;
            align-items: center;
            gap: 10px;
            
            .bg-orange{
                background-color: #fd7e14;
            }
            .progress-bar{                
                border-radius: inherit;
            }            
        }
        .div-opciones-contactos{
            display: flex;
            justify-content: center;
            gap: 5px;
        }
    }
}