#usuarios{    
    position: relative;
    margin: 0 30px;
    >:first-child{
        position: relative;
        top: 50px;        
    }
    #opCabeceraUser{
        bottom: 300px;
    }
    #div-users-table{
        position: relative;
        top: 100px;
    }    
    #nro-seleccion-user{
        width: 115px;
        @extend %info-tag;
    }
    .usuarios{
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 40px auto;
        border: 1px solid rgba(0,0,0,0.5);
        border-radius: 30px;
        padding: 40px;
        >:first-child{
            align-self: center;
            margin-bottom: 1.5rem;
        }
        #btn-crear-usuario{
            align-self: center;
        }
    }
}