.block {
  display: block;
}

.abrir-card {
  max-height: 500px;
}

.none {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.btn-add {
  border-radius: 50px !important;
  width: 35px;
  height: 35px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 27px !important;
  font-weight: 300 !important;
}

.btn-add span {
  position: relative;
  bottom: 3px;
}

.active {
  border-bottom: 2px solid #FFFFFF;
}

.active a {
  font-weight: bold;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

header nav {
  height: 67px;
}

header nav img {
  width: 50px;
  height: 50px;
}

header nav .container {
  height: 100%;
}

header nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0rem;
  gap: 25px;
  height: 100%;
}

header nav .container ul li {
  padding: 23px 0;
}

header nav .container ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

header nav .container ul li:hover {
  border-bottom: 2px solid #FFFFFF;
}

header nav .container ul li:hover a {
  font-weight: bold;
}

#opciones-contactos .opciones-contactos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 30px;
}

#opciones-contactos .opciones-contactos .busqueda {
  width: 510px;
}

#opciones-contactos .opciones-contactos .busqueda #div-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

#opciones-contactos .opciones-contactos .busqueda #div-search .dropdown {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  right: 80px;
}

#opciones-contactos .opciones-contactos .busqueda #div-search .dropdown .dropdown-menu.show {
  width: 440px;
  -webkit-transform: translate(-414px, 31px) !important;
          transform: translate(-414px, 31px) !important;
}

#opciones-contactos .opciones-contactos .busqueda #div-search #div-icon-search {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#contactos #div-contactos {
  height: 400px;
  border: 1px solid;
  margin: 0px 30px;
}

#usuarios .usuarios {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 40px;
}

#usuarios .usuarios > :first-child {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1.5rem;
}

#usuarios .usuarios #btn-crear-usuario {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#regiones {
  position: relative;
  top: 15px;
}

#regiones > button {
  border: 1px solid;
  border-radius: 20px;
  position: relative;
  top: 30px;
  left: 40px;
}

#regiones #region-ciudad {
  display: -ms-grid;
  display: grid;
  position: relative;
  top: 30px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 25px;
  padding: 20px;
}

#regiones #region-ciudad .region {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  margin: 0 20px;
}

#regiones #region-ciudad .region .region-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#regiones #region-ciudad .region .caret {
  margin-right: 20px;
}

#regiones #region-ciudad .region .opciones {
  font-size: 13px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#regiones #region-ciudad .region .opciones :first-child {
  margin-right: 4px;
}

#regiones #region-ciudad .region .li-ciudades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

#login .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 75px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  width: 40%;
  margin: 0 auto;
  padding: 50px;
  gap: 15px;
}
/*# sourceMappingURL=styles.css.map */