.tr-hover {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.block {
  display: block;
}

.abrir-card {
  max-height: 500px;
}

.none {
  display: none;
}

.div-opciones-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.div-opciones-flex span {
  cursor: pointer;
}

.div-opciones-companias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div-opciones-companias span {
  cursor: pointer;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.btn-add {
  border-radius: 50px !important;
  width: 35px;
  height: 35px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 27px !important;
  font-weight: 300 !important;
}

.btn-add span {
  position: relative;
  bottom: 3px;
}

.active {
  border-bottom: 2px solid #FFFFFF;
}

.active a {
  font-weight: bold;
}

.opciones-modal {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 18px;
          column-gap: 18px;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

header nav {
  height: 67px;
}

header nav img {
  width: 50px;
  height: 50px;
}

header nav .container {
  height: 100%;
}

header nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0rem;
  gap: 25px;
  height: 100%;
}

header nav .container ul li {
  padding: 23px 0;
}

header nav .container ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

header nav .container ul li:hover {
  border-bottom: 2px solid #FFFFFF;
}

header nav .container ul li:hover a {
  font-weight: bold;
}

#opciones-contactos .opciones-contactos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 30px;
}

#opciones-contactos .opciones-contactos .busqueda {
  width: 510px;
}

#opciones-contactos .opciones-contactos .busqueda #div-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

#opciones-contactos .opciones-contactos .busqueda #div-search .dropdown {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  right: 80px;
}

#opciones-contactos .opciones-contactos .busqueda #div-search .dropdown .dropdown-menu.show {
  width: 440px;
  -webkit-transform: translate(-414px, 31px) !important;
          transform: translate(-414px, 31px) !important;
}

#opciones-contactos .opciones-contactos .busqueda #div-search #div-icon-search {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#opciones-contactos .opciones-contactos .btn-contactos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contactos {
  position: relative;
  margin: 0px 30px;
}

#contactos .opciones-cabecera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 400px;
  width: 100%;
}

#contactos .opciones-cabecera #nro-seleccion {
  border: 1px solid rgba(0, 0, 0, 0.08);
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.08);
}

#contactos .opciones-cabecera #nro-seleccion span {
  font-size: 10px;
  color: #0683F9;
}

#contactos .opciones-cabecera #eliminar-contacto:hover {
  text-decoration: underline;
  cursor: pointer;
}

#contactos #div-contactos {
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  overflow: auto;
}

#contactos #div-contactos #cabecera {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#contactos #div-contactos #cabecera tr > :last-child {
  text-align: center;
}

#contactos #div-contactos tbody .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#contactos #div-contactos .info-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contactos #div-contactos .info-contact > :last-child {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

#contactos #div-contactos .progress-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr;
      grid-template-columns: 30px 1fr;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#contactos #div-contactos .progress-group .bg-orange {
  background-color: #fd7e14;
}

#contactos #div-contactos .progress-group .progress-bar {
  border-radius: inherit;
}

#contactos #div-contactos .div-opciones-contactos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

#modalContactos .modal-header {
  height: 140px;
  background-color: #0683F9;
}

#modalContactos .modal-header #tituloModalContacto {
  color: #FFFFFF;
  position: relative;
  bottom: 20px;
}

#modalContactos .modal-header .btn-close {
  position: relative;
  bottom: 20px;
  opacity: 1;
  -webkit-filter: invert(1);
          filter: invert(1);
}

#modalContactos .form-nuevo-contacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  border: 3px solid #0683F9;
  border-radius: 6.5px;
  padding: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  position: relative;
  bottom: 65px;
  background-color: #FFFFFF;
}

#modalContactos .form-nuevo-contacto input {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#modalContactos .form-add-nuevo-contacto-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3] 2fr 80px;
      grid-template-columns: repeat(3, 1fr) 2fr 80px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  position: relative;
  bottom: 40px;
}

#modalContactos .form-add-nuevo-contacto-body .dropdown, #modalContactos .form-add-nuevo-contacto-body input, #modalContactos .form-add-nuevo-contacto-body select {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 991px) {
  #modalContactos .form-add-nuevo-contacto-body {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  #modalContactos .form-add-nuevo-contacto-body .dropdown-toggle {
    white-space: unset;
  }
}

#modalContactos .canales-contactos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (178px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 178px);
  gap: 35px;
  width: 90%;
}

#modalContactos .canales-contactos #dropdownCanal, #modalContactos .canales-contactos #dropdownPreferencia {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#modalContactos .canales-contactos #agregarCanal {
  justify-self: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#modalContactos #masCanales {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3] 216px 216px;
      grid-template-columns: repeat(3, 1fr) 216px 216px;
  gap: 35px;
  margin: 20px 0;
}

#modalContactos #masCanales button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-start;
}

#modalContactos #masCanales > :last-child {
  position: relative;
  right: 100px;
}

@media screen and (max-width: 1200px) {
  #modalContactos #masCanales {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  #modalContactos #masCanales > :last-child {
    right: 0;
  }
}

#usuarios .usuarios {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 40px;
}

#usuarios .usuarios > :first-child {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1.5rem;
}

#usuarios .usuarios #btn-crear-usuario {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#regiones {
  position: relative;
  top: 15px;
}

#regiones > button {
  border: 1px solid;
  border-radius: 20px;
  position: relative;
  top: 30px;
  left: 40px;
}

#regiones #region-ciudad {
  display: -ms-grid;
  display: grid;
  position: relative;
  top: 30px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 25px;
  padding: 20px;
}

#regiones #region-ciudad .region {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  margin: 0 20px;
}

#regiones #region-ciudad .region .region-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#regiones #region-ciudad .region .caret {
  margin-right: 20px;
}

#regiones #region-ciudad .region .opciones {
  font-size: 13px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#regiones #region-ciudad .region .opciones :first-child {
  margin-right: 4px;
}

#regiones #region-ciudad .region .li-ciudades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

#companias {
  position: relative;
  top: 40px;
  padding: 0 5rem;
}

#companias .cabecera-companias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#companias #tabla-card {
  position: relative;
  top: 15px;
}

#login .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 75px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  width: 40%;
  margin: 0 auto;
  padding: 50px;
  gap: 15px;
}
/*# sourceMappingURL=styles.css.map */